.SiteDescription {
  color: rgb(141, 119, 141);
}
.gender-list {
  margin-top: 40px;
}
.title {
  display: flex;
  justify-content: space-between;
  padding-right: 10%;
  align-items: center;
}
.title h3 {
  color: rgba(206, 194, 185, 0.9);
}
.title h6 {
  color: rgba(157, 226, 231, 0.836);
}
.title h6:hover {
  cursor: pointer;
  text-shadow: 0 0 0.8px rgba(202, 239, 241, 0.836);
}
.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.grid-movie-container {
  position: relative;
  margin: 10px 10px;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
}
.grid-movie-container > img {
  border-radius: 5px 5px 5px 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-movie-container:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0 0 5px rgb(234, 238, 238);
}
.grid-movie-container:hover .movie-hover {
  z-index: 2;
}
.movie-hover {
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: -1;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: rgba(202, 190, 190, 0.2);
  transition: all 0.1s ease-in-out;
}
.movie-hover img {
  width: 40%;
}

.movie-search-wrapper {
  padding: 10px;
  cursor: pointer;
}

.movie-search-wrapper:hover h6 {
  color: rgb(149, 229, 229);
}

.movie-search-wrapper:hover span {
  color: rgb(206, 215, 221);
}

.movie-search-wrapper img {
  width: 80px;
  height: 90px;
  margin-right: 10px;
  flex-shrink: 0;
}

.movie-search-wrapper {
  display: flex;
  align-items: center;
}
.movie-dearch-desc h6 {
  font-size: 18px;
  font-weight: 600;
  color: rgb(200, 209, 216);
  letter-spacing: 0.7px;
  transition: 1s;
}
.movie-dearch-desc span {
  font-size: 14px;
  font-weight: 500;
  color: rgba(200, 209, 216, 0.7);
  letter-spacing: 0.5px;
  transition: 0.2s ease-in-out;
}

.movie-page-container img {
  object-fit: cover;
  width: 100%;
  height: calc(100vh - 65px);
}

.showBtn {
  background-color: transparent;
  color: #f9f9f9;
  font-weight: bold;
  border: solid #f9f9f9 2px;
  width: 100%;
  margin: 10px;
  font-size: 20px;
  padding: 5px 0;
  letter-spacing: 0.5px;
  transition: 0.2s ease-in-out;
}

.showBtn:hover {
  background-color: #f9f9f9;
  color: #040714;
}
